.devise-panel{


  margin: 0px auto;
  max-width: 500px;
  box-shadow: 1px 3px 3px rgba(150, 152, 153, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-weight: normal;
  box-sizing: border-box;
  position: relative;
  padding: 18px;
  border-radius: 4px;


}
.zhou-content{

 min-height: 600px;
  background: #f5f7fa;
  padding: 90px;

}




