<div class="ad-item" >

<div class="ad-img">
 <img src="/assets/ad/ad-1.gif">
</div>
  <div class="ad-img">
    <img src="/assets/ad/ad-2.gif">
  </div>
  <div class="ad-img">
    <img src="/assets/ad/ad-3.gif">
  </div>

  <div style="clear: both"></div>





</div>